<div class="container">
  <div class="row hb-footer">
    <div class="col-xs-6 text-center">
      <div class="hb-footer-section">
        <span class="hb-footer-heading">Herran Bread</span>
        <ul class="hb-footer-list">
          <li><a href="#/home">Home</a></li>
          <li><a href="#/about-us">About Us</a></li>
          <li><a href="#/news">News</a></li>
          <li><a href="#/products/bread">Products</a></li>
          <li><a href="#/contact-us">Contact Us</a></li>
        </ul>
        <div class="hb-footer-vertical"></div>
      </div>
    </div>

    <div class="col-xs-6 text-center">
      <div class="hb-footer-section">
        <span class="hb-footer-heading hb-contact">
          <img src="/img/layout/footer_contact_phone.png" alt="" />
          <p>Contact</p>
        </span>
        <ul class="hb-footer-list hb-contact-details">
          <li>Herran Bread and Foodmart Inc.</li>
          <li>1984 Pedro Gil St. Ana Manila 1009</li>
          <li>Email: <a href="mailto:herranbread@yahoo.com">herranbread@yahoo.com</a></li>
        </ul>
        <div class="hb-ribbon">
          <img src="/img/layout/footer_contact_ribbon.png" alt="" />
          <label>Contact Nos.</label>
          <span>563-51-44, 561-2598</span>
          <div>Fax: 564-30-30</div>
        </div>
      </div>
    </div>
  </div>
</div>