<div class="container">
  <ul class="nav-justified header-menu">
    <li class="text-center">
      <a href="#/home"><img src="/img/layout/menu_home.png" /></a>
    </li>
    <li class="text-center">
      <a href="#/about-us"><img src="/img/layout/menu_about.png" /></a>
    </li>
    <li class="text-center">
      <a href="#/news"><img src="/img/layout/menu_news.png" /></a>
    </li>
    <li class="text-center dropdown">
      <img class="dropdown-toggle hb-menu" data-ng-click="toggleDropdown()" src="/img/layout/menu_products.png" />
      <div class="hb-menu-drop">
        <div data-ng-include="'/templates/partials/products-menu.html'" data-ng-controller="menuController" data-ng-init="init('header')"></div>
      </div>
    </li>
    <li class="text-center">
      <a href="#/contact-us"><img src="/img/layout/menu_contact.png" /></a>
    </li>
  </ul>
</div>