<div class="navbar navbar-inverse navbar-fixed-top visible-xs">
  <div class="container">
    <button class="navbar-toggle pull-left" data-toggle="collapse" data-target=".hb-mobile-menu">
      <span class="icon-bar">&nbsp;</span>
      <span class="icon-bar">&nbsp;</span>
      <span class="icon-bar">&nbsp;</span>
    </button>
    <div class="collapse navbar-collapse hb-mobile-menu">
      <ul class="nav navbar-nav navbar-left">
        <li class="active"><a href="#/home">Home</a></li>
        <li><a href="#/about-us">About Us</a></li>
        <li><a href="#/news">News</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/products/bread">Bread</a></li>
            <li><a href="#/products/cakes">Cakes</a></li>
            <li><a href="#/products/chinese-deli">Chinese Deli</a></li>
            <li><a href="#/products/hopia">Hopia</a></li>
            <li><a href="#/products/pastries">Pastries</a></li>
          </ul>
        </li>
        <li><a href="#/contact-us" data-toggle="modal">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="hb-block-top visible-xs">&nbsp;</div>