<div class="container">
  <div class="page-lbl">
    <span>About</span>
    <span class="char-17">Since 19xx</span>
  </div>
  <div class="container right-space">
    <div class="container col-sm-8 text-left no-padding-left bottom-gap-30">
      <p class="text-justify char-16">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat porttitor felis, at elementum erat porta nec. Phasellus at magna nisl. Etiam non sollicitudin erat. Aenean semper neque tempus lorem malesuada, in suscipit est vestibulum. Phasellus sed elit vulputate, tincidunt nunc sed, tincidunt lectus. Nullam suscipit feugiat metus, sed suscipit ante accumsan sed. Proin gravida consectetur nisi id hendrerit. Maecenas dictum ante augue, in ullamcorper arcu vulputate nec. Donec molestie sapien leo. Morbi et cursus tellus. Ut vitae risus non arcu lobortis vestibulum eu vel libero. Donec ornare nisl quis mattis maximus. Nam vehicula tellus et elit vestibulum sagittis. Integer ac enim mattis, luctus eros ac, viverra ligula. Nullam pellentesque metus libero, in pellentesque est venenatis id. Morbi lacinia malesuada libero, eu ullamcorper quam.
        Vivamus ac libero ac quam finibus placerat. Vivamus cursus mi massa, eu posuere metus tincidunt et. Aliquam erat volutpat. Vivamus mollis neque justo, id faucibus elit varius porttitor. Vestibulum volutpat eu sapien vel ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras purus tellus, aliquam feugiat pulvinar at, hendrerit ac lacus. Curabitur sodales, arcu nec dapibus condimentum, nibh tellus ultricies leo, nec fermentum neque felis eu diam.
      </p>
    </div>
    <div class="container col-sm-4 text-right bottom-gap-30">
      <img class="img-max-width" src="/img/content/about_sample_1.png" />
    </div>
  </div>
  <div class="container right-space">
    <div class="container col-sm-4 text-left no-padding-left bottom-gap=30">
      <img class="img-max-width" src="/img/content/about_sample_2.png" />
    </div>
    <div class="container col-sm-8 text-right bottom-gap-30">
      <p class="text-justify char-16">
        Integer nibh tellus, volutpat in luctus ac, ullamcorper vel massa. Mauris fermentum ultrices dui vitae lacinia. Nullam rhoncus efficitur ornare. Nullam at sem feugiat sapien mattis cursus in vel elit. Nam ligula lectus, posuere ut tempus eget, consectetur quis orci. Vestibulum pharetra magna eget nisi iaculis, sed accumsan ipsum commodo. Quisque nec fringilla mauris, in cursus nulla. Mauris ultrices varius quam.
        Curabitur eleifend sapien vel sem efficitur pulvinar. Nunc in ultricies enim. Praesent dapibus arcu at dignissim molestie. Cras ut maximus nisi. Nunc maximus leo sed fringilla pharetra. Nulla tempor massa turpis, sit amet mattis velit bibendum non. Sed consequat urna eros, eget posuere elit mollis eu. Proin mattis ut ligula id aliquam. Ut eget vulputate metus, eu convallis mauris. Sed efficitur orci eu bibendum luctus. Morbi eu ante nec tellus egestas lacinia. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec pulvinar, ipsum eu fermentum auctor, augue nisi placerat nunc, vitae laoreet nisi turpis sagittis augue.
      </p>
    </div>
  </div>
</div>