<div class="container">
  <div class="page-lbl">
    <span>News</span>
  </div>
  <div class="container right-space">
    <div class="container col-sm-8 text-left">
      <img class="img-max-width" src="/img/content/news_photo.png" />
    </div>
    <div class="container col-sm-4 text-right">
      <p class="text-justify char-16">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat porttitor felis, at elementum erat porta nec. Phasellus at magna nisl. Etiam non sollicitudin erat. Aenean semper neque tempus lorem malesuada, in suscipit est vestibulum. Phasellus sed elit vulputate, tincidunt nunc sed, tincidunt lectus. Nullam suscipit feugiat metus, sed suscipit ante accumsan sed. Proin gravida consectetur nisi id hendrerit. Maecenas dictum ante augue, in ullamcorper arcu vulputate nec. Donec molestie sapien leo. Morbi et cursus tellus. Ut vitae risus non arcu lobortis vestibulum eu vel libero. Donec ornare nisl quis mattis maximus.
      </p>
    </div>
  </div>
  <div class="page-lbl">
    <span>Promos</span>
  </div>
  <div class="container right-space">
    <div class="container col-sm-3 bottom-gap-30">
      <img class="img-max-width" src="/img/content/news_promo_1.png" />
    </div>
    <div class="container col-sm-3 bottom-gap-30">
      <p class="text-justify char-16">
        Phasellus at magna nisl. Etiam non sollicitudin erat. Aenean semper neque tempus lorem malesuada, in suscipit est vestibulum. Phasellus sed elit vulputate, tincidunt nunc sed, tincidunt lectus. Nullam suscipit feugiat metus, sed suscipit ante accumsan sed.
      </p>
    </div>
    <div class="container col-sm-3 bottom-gap-30">
      <img class="img-max-width" src="/img/content/news_promo_2.png" />
    </div>
    <div class="container col-sm-3 bottom-gap-30">
      <p class="text-justify char-16">
        Maecenas dictum ante augue, in ullamcorper arcu vulputate nec. Donec molestie sapien leo. Morbi et cursus tellus. Ut vitae risus non arcu lobortis vestibulum eu vel libero. Donec ornare nisl quis mattis maximus.
      </p>
    </div>
  </div>
</div>